/* crumbs */
.crumbs {
  height: 48px;
  line-height: 48px;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  div {
    display: inline-block;
  }

  i {
    color: #979797;
    margin: 0 10px;
  }
}