

$color-text-primary: #333; //主要文字颜色
$color-text-regular: #666; //常规文字颜色
$color-text-secondary: #ccc; //次要文字颜色
$color-text-placeholder: #888; //占位文字
$color-text-gray: #999;
$color-white: rgba(255, 255, 255, 100); //白色
$color-white-secondary: #fafafa;
$color-red: #d85544;
$color-red-secondary: #e41;
$color-red-fail: #e21;
$color-green: #1eb144;
$color-green-secondary: #28AA44;
$color-orange: #ff5445; //产品价格颜色
$color-gray: #f8f6f9; //板块颜色
$color-gray-secondary: #d8d8d8;
$color-blue: #00aadd;
$color-blue-secondary: #3F88DD;
$color-purple : #4b0088; // 淡紫色（用与back_to_cart 链接）
$color-purple-second: #6600aa;
$color-purple-third: #9222d8;
$color-danger:  #c21;
$color-theme: #360066; //网站主题色
$color-theme-highlight: #8000ff; //字体高亮
$color-btn-bg: linear-gradient(-146deg, #9b00ff 0%, #8000ff 100%);
$color-btn-bg-l: linear-gradient(-142deg, #9b00ff 0%, #8000ff 100%);
$color-border-base: #e6e6e6;
$color-border-highlight: #8200FF;
$color-disabled: #f8f8f8;

$font-size-l : 28px;
$font-size-lm: 24px;
$font-size-ls : 20px;
$font-size-m : 18px;
$font-size-ms : 16px;
$font-size-ms-s: 15px;
$font-size-s : 14px;
$font-size-sm : 13px;
$font-size-xs : 12px;
$font-size-xs-s : 11px;

